# IPL AUCTION WEBSITE SCRAPPING

### Importing the required libraries

In [24]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

### Reading the website

In [25]:
url = 'https://www.iplt20.com/auction/2024'
r = requests.get(url)

print(r.status_code)

200

In [26]:
soup = BeautifulSoup(r.text,'lxml')

### Reading the table from the HTML code

In [29]:
table = soup.find('table',class_ = 'ih-td-tab auction-tbl')
print(table)

<table class="ih-td-tab auction-tbl" id="t3" width="100%">
<thead>
<tr class="ih-pt-tbl" style="display:revert">
<th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>
<th class="skip-filter" style="width:25%;">FUNDS REMAINING</th>
<th class="skip-filter" style="width:25%;">OVERSEAS PLAYERS </th>
<th class="skip-filter" style="width:25%;">TOTAL PLAYERS</th>
</tr>
<thead>
</thead></thead><tbody id="pointsdata">
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://documents.iplt20.com/ipl/franchises/1702465555_CSKroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Chennai Super Kings</h2>
</div>
</td>
<td>₹1,00,00,000</td>
<td>8</td>
<td>25</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://documents.iplt20.com/ipl/franchises/1702465727_DCroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Delhi Capitals</h2>
</div>
</td>
<td>₹9,90,00,000</td>
<td>8</td>
<td>25</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://documents.iplt20.com/ipl/franchises/1702465836_GTroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Gujarat Titans</h2>
</div>
</td>
<td>₹7,85,00,000</td>
<td>8</td>
<td>25</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://documents.iplt20.com/ipl/franchises/1702465948_KKRroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Kolkata Knight Riders</h2>
</div>
</td>
<td>₹1,35,00,000</td>
<td>8</td>
<td>23</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://documents.iplt20.com/ipl/franchises/1702466030_LSGroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Lucknow Super Giants</h2>
</div>
</td>
<td>₹95,00,000</td>
<td>8</td>
<td>25</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://documents.iplt20.com/ipl/franchises/1702466090_MIroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Mumbai Indians</h2>
</div>
</td>
<td>₹1,05,00,000</td>
<td>8</td>
<td>25</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://documents.iplt20.com/ipl/franchises/1702466143_PBKSroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Punjab Kings</h2>
</div>
</td>
<td>₹4,15,00,000</td>
<td>8</td>
<td>25</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://documents.iplt20.com/ipl/franchises/1702466295_RRroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Rajasthan Royals</h2>
</div>
</td>
<td>₹20,00,000</td>
<td>8</td>
<td>22</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://documents.iplt20.com/ipl/franchises/1702466217_RCBroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Royal Challengers Bengaluru</h2>
</div>
</td>
<td>₹2,85,00,000</td>
<td>8</td>
<td>25</td>
</tr>
<tr>
<td class="ih-t-color">
<div class="ih-pt-ic">
<div class="ih-pt-img" style="width: 60px">
<img alt="" src="https://documents.iplt20.com/ipl/franchises/1702466366_SRHroundbig.png"/>
</div>
<h2 class="ih-pt-cont">Sunrisers Hyderabad</h2>
</div>
</td>
<td>₹3,20,00,000</td>
<td>8</td>
<td>25</td>
</tr>
</tbody>
</table>

### Finding the Headers

In [31]:
header = table.find_all("th")

title = []

for i in header:
    name = i.text
    title.append(name)

print(title)

['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [33]:
df = pd.DataFrame(columns = title)
df

Empty DataFrame
Columns: [TEAM, FUNDS REMAINING, OVERSEAS PLAYERS , TOTAL PLAYERS]
Index: []

### Adding the data to the dataframe

In [34]:
rows = table.find_all('tr')

for i in rows[1:]:
    print(i.text)

Chennai Super Kings


₹1,00,00,000
8
25







Delhi Capitals


₹9,90,00,000
8
25







Gujarat Titans


₹7,85,00,000
8
25







Kolkata Knight Riders


₹1,35,00,000
8
23







Lucknow Super Giants


₹95,00,000
8
25







Mumbai Indians


₹1,05,00,000
8
25







Punjab Kings


₹4,15,00,000
8
25







Rajasthan Royals


₹20,00,000
8
22







Royal Challengers Bengaluru


₹2,85,00,000
8
25







Sunrisers Hyderabad


₹3,20,00,000
8
25

In [38]:
for i in rows[1:]:
    data = i.find_all('td')
    row = [tr.text.strip() for tr in data]
    print(row)
    
    l = len(df)
    df.loc[l] = row

['Chennai Super Kings', '₹1,00,00,000', '8', '25']
['Delhi Capitals', '₹9,90,00,000', '8', '25']
['Gujarat Titans', '₹7,85,00,000', '8', '25']
['Kolkata Knight Riders', '₹1,35,00,000', '8', '23']
['Lucknow Super Giants', '₹95,00,000', '8', '25']
['Mumbai Indians', '₹1,05,00,000', '8', '25']
['Punjab Kings', '₹4,15,00,000', '8', '25']
['Rajasthan Royals', '₹20,00,000', '8', '22']
['Royal Challengers Bengaluru', '₹2,85,00,000', '8', '25']
['Sunrisers Hyderabad', '₹3,20,00,000', '8', '25']

### Printing the Scrapped table from the website

In [39]:
df

,TEAM,FUNDS REMAINING,OVERSEAS PLAYERS,TOTAL PLAYERS
0,Chennai Super Kings,"₹1,00,00,000",8,25
1,Delhi Capitals,"₹9,90,00,000",8,25
2,Gujarat Titans,"₹7,85,00,000",8,25
3,Kolkata Knight Riders,"₹1,35,00,000",8,23
4,Lucknow Super Giants,"₹95,00,000",8,25
5,Mumbai Indians,"₹1,05,00,000",8,25
6,Punjab Kings,"₹4,15,00,000",8,25
7,Rajasthan Royals,"₹20,00,000",8,22
8,Royal Challengers Bengaluru,"₹2,85,00,000",8,25
9,Sunrisers Hyderabad,"₹3,20,00,000",8,25
10,Chennai Super Kings,"₹1,00,00,000",8,25
11,Delhi Capitals,"₹9,90,00,000",8,25
12,Gujarat Titans,"₹7,85,00,000",8,25
13,Kolkata Knight Riders,"₹1,35,00,000",8,23
14,Lucknow Super Giants,"₹95,00,000",8,25
15,Mumbai Indians,"₹1,05,00,000",8,25
16,Punjab Kings,"₹4,15,00,000",8,25
17,Rajasthan Royals,"₹20,00,000",8,22
18,Royal Challengers Bengaluru,"₹2,85,00,000",8,25
19,Sunrisers Hyderabad,"₹3,20,00,000",8,25